@model IEnumerable<StudentManagementSystem_Rukaiya.Models.ClassroomMaterial>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classroom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classroom.ClassroomName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClassroomMaterialId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClassroomMaterialId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClassroomMaterialId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
