@model IEnumerable<StudentManagementSystem.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentProofPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentProofPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod.MethodName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
